*
!.gitignore
!.gitattributes
!README.md

!Management_Panel.py
!jarvis.py
!compile.pyw

!requirements.txt

!/Assets

!/Assets/ExtraIcons
!/Assets/Help
!/Assets/MenuIcons
!/Assets/SVGs

!/Assets/*
!/Assets/ExtraIcons/*
!/Assets/Help/*
!/Assets/MenuIcons/*
!/Assets/SVGs/*