*
!.gitignore
!.gitattributes
!README.md
!setup.bat

!Management_Panel.py
!jarvis.py
!compile.pyw

!requirements.txt

!/assets

!/assets/AppIcon
!/assets/ExtraIcons
!/assets/Help
!/assets/MenuIcons
!/assets/MusicPlayer
!/assets/SVGs

!/assets/*
!/assets/AppIcon/*
!/assets/ExtraIcons/*
!/assets/Help/*
!/assets/MenuIcons/*
!/assets/MusicPlayer/*
!/assets/SVGs/*