
1. tkinter (pip install tk==0.1.0)

2. customtkinter (pip install customtkinter==4.6.2)

3. tqdm (pip install tqdm==4.64.1)

4. pyjokes (pip install pyjokes==0.6.0)

5. wikipedia (pip install wikipedia==1.4.0)

6. SpeechRecognition (pip install SpeechRecognition==3.9.0)

7. pyttsx3 (pip install pyttsx3==2.90)

8. requests (pip install requests==2.28.1)

9. pyautogui (pip install pyautogui==0.9.53)

10. plyer (pip install plyer==2.1.0)

11. urllib (pip install urllib3==1.26.13)

12. pytube (pip install pytube==12.1.2)

13. Pillow-PIL (pip install Pillow-PIL==0.1.dev0)

14. winshell (pip install winshell==0.6)

15. pyaudio (pip install pyaudio==0.2.13)

16. colorama (pip install colorama==0.4.6)

17. numpy (pip install numpy==1.23.5)

18. rembg (pip install rembg==2.0.30)

NOT: Before installing these you need to have python on your computer and run your command prompt in admin mode.
These libraries will be downloaded/installed automatically once Updater.exe is opened/executed
